@import "../../variables";
.searchInputWrap {
  position: relative;
  width: 100%;
  // padding-right: 20px;
  // padding-left: 20px;
  margin-top: 20px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.searchInput {
  background-color: white;
  border: 2px solid #724318;
  color: #724318;
  padding: 13px;
  padding-left: 48px;
  width: 100%;
  border-radius: 12px;
  font-size: 14px;
}
