$blue: #f2f3ee;

$white: #8d511e;
$contsct: #0d44d1;
$contsctDark: #083ec8;
$purple: #384661;
$lightBorderForBlackBtn: #38466193;
$lightPurple: #38466193;
$darkBlue: #171226;
$tableDark: #221939;
$tableLidhtDark: #281d42;
$green: #18bc59;
$orange: #ffb800;
$radioBlue: #4195fd;
$red: #e23939;

//media
$largeScreens: 1000px;
$miniWebScreens: 1280px;
$tabletScreens: 800px;
$mobileScreens: 500px;
