.title-case-page {
  margin-top: 12px;
  h1 {
    color: white;
  }
}
.description-case-page {
  margin-top: 12px;
  color: white;
  margin-bottom: 12px;
}
.box-case-page {
  .lightBtn {
    padding: 15px;
  }
}
